{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/css/home.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'axf/main/js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="home">
        {#  首页轮播  #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{% static 'img/home/slide1.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'img/home/slide2.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'img/home/slide3.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'img/home/slide4.jpg' %}" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>


        {# 顶部菜单 #}
        <div class="topMenu">
            <nav>
                <ul>
                    {% for main_nav in main_navs %}
                        <li>
                            <img src="{{ main_nav.img }}" alt="">
                            <span>{{ main_nav.name }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>


        {#  中间轮播  #}
        <div class="swiper-container" id="swiperMenu">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="{% static 'img/home/slide1.jpg' %}" alt=""></li>
                <li class="swiper-slide"><img src="{% static 'img/home/slide2.jpg' %}" alt=""></li>
                <li class="swiper-slide"><img src="{% static 'img/home/slide3.jpg' %}" alt=""></li>
                <li class="swiper-slide"><img src="{% static 'img/home/slide4.jpg' %}" alt=""></li>
            </ul>
        </div>


    </div>

{% endblock %}
